@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #22242f;
  background-position: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.notifications{
  position: fixed;
  top: 30x;
  right: 20px;
}

.toast{
  position: relative;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-image: 
      linear-gradient(
        to right #0abf30, #22242f 30%
      );
}
.toast i{
  color: var(--color);
}
.toast .title{
  font-size: x-large;
  font-weight:bold ;
}

h1{
  text-align: center;
  color: aliceblue;
  
}
*{
  font-family: Helvetica;
  box-sizing: border-box;
  -webkit-text-stroke: 1px rgba(251, 251, 251, 0.081);
}


form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

label{
  /* font-weight: bold; */
  margin-bottom:  5px;
  color: aliceblue;
  
}
input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

button  {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: green;
  
  
}
select:invalid {
  color: rgb(255, 2, 2);
}

.glass-form {
  border: 2px solid #ffffff15;
  background-color: rgba(255, 255, 255, 0.051);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin: 20px; /* Altere conforme necessário */
  max-width: 800px; /* Altere conforme necessário */
  width: 100%; /* Ocupa a largura máxima disponível */
}


@media (max-width: 768px) {
  .glass-form {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 480px) {
  .glass-form {
    margin-left: 20px;
    margin-right: 20px;
  }
}

button:hover {
  transform: scale(1.07);
  transition: all 0.5s;
}